---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import HowItWorks from '../components/HowItWorks.astro';
import Questionnaire from '../components/Questionnaire.astro';
import Footer from '../components/Footer.astro';
---

<Layout title="Defensa del Deudor | Cancela hasta el 100% de tus Deudas">
  <Header />
  
  <main class="flex-1">
    <Hero />
    <HowItWorks />
    <Questionnaire />
  </main>

  <Footer />
</Layout>
